.wrapper {
  display: flex;
  padding: 30px;
  flex-direction: column;
  border-radius: 10px;
  // border-top: 1px solid #4a3934;
  background-color: #f2f4f3d1;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
